/*body{
    background:    #DEDFE2;    //#D1D3D7;
}*/
h1{
    padding: 0px 0px 10px 40px;
    //border-bottom: 1px solid #444;
    //margin: -10px -30px 30px -30px;
    margin: -10px -30px -10px -30px;
}
h3{
    margin: 5px 0px 0px 11px;
}
.background_overlay{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: #E5E5EE;
    z-index: 89;
    -moz-opacity: 0.8;
    opacity: .8;
    filter: alpha(opacity=80);
}
.add_member_content{
    display: none;
    width: 725px;
    height: auto;
    position: fixed;
    top: 70%;
    left: 70%;
    transform: translate(-53%, -72%);
    //border: solid yellow 2px;
    background: #555;
    padding: 20px 30px 20px 30px;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #D3D3D3;
    text-shadow: 4px 4px 4px black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #D3D3D3;
    box-shadow : 4px 4px 4px black;
    z-index: 90;
}
.add_member_top_panel{
    //border: solid red 2px;
    width: auto;
    height: auto;
}
.add_member_left_sidebar{
    //border: blue solid 2px;
    width: auto;
    height: auto;
    border-right: solid 1px #D3D3D3;
    float: left;
    margin: 25px 0px 25px 0px;
}
.add_member_right_sidebar{
    margin: 25px 0px 25px 25px;
    padding: 10px 10px 0px 10px;
    border: solid 1px #D3D3D3;
    border-radius: 5px;
    width: auto;
    height: auto;
    float: left;
    padding-bottom: 7px;
    border: 1px solid #D3D3D3;
    box-shadow : 4px 4px 4px black;
}
.show_error_message{
    //border: 1px solid white;
    width: auto;
    float: left;
    margin: 0px 0px 0px 25px;
}

.add_member_data span, .add_member_data label{
    font-size: 16px;      
    width: 120px;
    float: left;
    //border: solid white 1px;
    font-weight: bold;
    padding: 5px 50px 0px 5px;
    //text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    
    //position: absolute;
    //bottom: 0;
}
.add_member_right_sidebar .add_member_data{ /*div block of member details in .right_sidebar */
    margin: 2px 8px 2px 0px;
    //border: red solid 2px;
    //float: left;
}

/*.right_sidebar span{
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    font-weight: bold;
}*/
#paid{
    width: 60px;
}
.add_member_data input[type="text"]{
    border: 1px solid #555;
     color: #525252;
     width: 200px;
     height: 30px;
     font-weight: bold;
     font-size: 18px;
     padding: 0px 0px 0px 5px;
     border-radius: 2px;
     -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     background: #DFDFDF;
}
.add_member_data input:focus{
    background: white;
    outline: 0;
    border: 1px solid #555;
}
.add_member_data #first_name, .add_member_data #last_name{
    text-transform: capitalize;
}
.add_member_bottom_panel{
    width: auto;
    height: auto;
    //margin: 10px 0px 0px 0px;
    //border: solid black 2px;
    clear: left;
    //display: block;
}
.add_member_left_sidebar img{
   width: 214px;
   height: 240px;
   border-radius: 5px;
   border: 1px solid #D3D3D3;
   box-shadow : 4px 4px 4px black;
}
.add_member_left_sidebar #image{
    margin: 3px 30px 20px 20px;
    width: 214px;
    height: 240px;
    border-radius: 5px;
}
.add_member_left_sidebar #photo_camera{
    margin: 3px 30px 20px 20px;
    width: 214px;
    height: 240px;
    display: none;
    border-radius: 5px;
    border: 1px solid #D3D3D3;
    box-shadow : 4px 4px 4px black;
}
.add_member_left_sidebar #photo_button{
    text-align: center;
    margin: 0px 0px 20px 50px;
    width: 155px;
    height: 30px;
    border-radius: 5px;
    box-shadow : 4px 4px 4px black;
    cursor: pointer;
    color: blue;
    background: #C2C2D6;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    transition: background 1s;
}
.add_member_left_sidebar #shoot_button{
    color: green;
    display: none;
    text-align: center;
    margin: 0px 0px 20px 50px;
    width: 155px;
    height: 30px;
    border-radius: 5px;
    box-shadow : 4px 4px 4px black;
    cursor: pointer;
    color: green;
    background: #C2C2D6;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    transition: background 1s;
}
.add_member_left_sidebar #generate_button{
    text-align: center;
    margin: 0px 0px 35px 20px;
    width: 155px;
    height: 30px;
    border-radius: 5px;
    box-shadow : 4px 4px 4px black;
    cursor: pointer;
    visibility: hidden;
    background: #C2C2D6;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    transition: background 1s;
}

#back_button{
    float: left;
    color: blue;
    width: 135px;
    height: 25px;
    border-radius: 5px;
    box-shadow : 4px 4px 4px black;
    cursor: pointer;
    background: #C2C2D6;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    transition: background 1s;
}
#submit_add_member{
    float: right;
    margin: 0px 0px 0px 0px;
    color: green;
    width: 135px;
    height: 25px;
    border-radius: 5px;
    box-shadow : 4px 4px 4px black;
    cursor: pointer;
    background: #C2C2D6;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    transition: background 1s;
}
#back_button:hover, #add_member_photo_button:hover, #photo_button:hover, #add_member_shoot_button:hover, #shoot_button:hover, #add_member_generate_button:hover, #generate_button:hover, #submit_add_member:hover{
    background: white;
    //color: #009900;
}
#back_button:focus, #add_member_photo_button:focus, #photo_button:focus, #add_member_shoot_button:focus, #shoot_button:focus, #add_member_generate_button:focus, #generate_button:focus, #submit_add_member:focus{
    outline: 0;
    //color: #009900;
}
::-webkit-input-placeholder{
    padding-top: 4px;
    font-size: 12px;
    color: #525252;
}
:-moz-placeholder{ /* Firefox 18- */
    font-size: 12px;
    color: #525252;
}
::-moz-placeholder{ /* Firefox 18+ */
    font-size: 12px;
    color: #525252;
}
::-ms-input-placeholder{
    font-size: 12px;
    color: #525252;
}
/* validation of 'first_name' and 'last_name' fields */
.error::-webkit-input-placeholder{
    padding-top: 2px;
    font-size: 14px;
    color: red;
    letter-spacing: normal;
    //outline: 1px solid red;
    //padding-left: 5px;
    //outline-offset: 5px;
}
.error:-moz-placeholder{ /* Firefox 18- */
    font-size: 14px;
    color: red;
    letter-spacing: normal;
    //outline: 1px;
}
.error::-moz-placeholder{ /* Firefox 18+ */
    font-size: 14px;
    color: red;
    letter-spacing: normal;
    //outline: 1px;
}
.error:-ms-input-placeholder{
    font-size: 14px;
    color: red;
    letter-spacing: normal;
    //outline: 1px;
}
/* validation of 'first_name' and 'last_name' input fields */
.error{
    border: 1px solid red;
    border-radius: 2px;
    background: #FFE2E2;
}

