@CHARSET "UTF-8";

body{
	background: #A9BFFF;
}

.main_container{
	
	position: absolute;
	top: 50%;
	left: 50%;
	
	//background: #A3A3FF;
	
	background: -webkit-linear-gradient(#A3A3FF, #B8E6E6, #A3A3FF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#A3A3FF, #B8E6E6, #A3A3FF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#A3A3FF, #B8E6E6, #A3A3FF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#A3A3FF, #B8E6E6, #A3A3FF); /* Standard syntax */
	
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	
	//display: inline-block; /* makes 'main_contaner' width as its content */
	width: 806px;
	border: 1px solid black;
	border-radius: 5px;
	
	padding:15px;
	
	box-shadow: 0px 0px 10px black;
}

.top_panel{
	margin: 0px 0px 15px 0px;
}

.middle_panel{
	margin: 0px 0px 0px 0px;
}

.middle_panel{
	display: inline-block; /* keep gap between '.middle_panel' and '.bottom_panel' */
}
.middle_panel #text_area{
	background: url('../images/picture2.jpeg');
	
	width: 500px;
	height: 400px;
	overflow-y: scroll;
	border: 1px solid #676781;
	
	border-radius: 5px;
	line-height: 1.8;
	font-size: 15px;
	padding: 10px;
	float: left;
	
	box-shadow: 0px 0px 5px black;
}
.middle_panel #connections_area{
	background: url('../images/picture2.jpeg');
	
	width: 250px;
	height: 400px;
	overflow-y: scroll;
	border: 1px solid #676781;
	border-radius: 5px;
	float: left;
	margin: 0px 0px 0px 10px;
	padding: 10px;
	
	box-shadow: 0px 0px 5px black;
}

.bottom_panel{
	margin: 15px 0px 0px 0px;
}

#input_name{
	padding-left: 7px;
	height: 30px;
	width: 220px;
	box-shadow: 0px 0px 5px black;
	border-radius: 5px;
}
#input_name:focus{
	background: #EFEFE3;
}
#input_text{
	resize: none;
	font-size: 15px;
	line-height: 1.5;
	box-shadow: 0px 0px 5px black;
	padding: 3px 5px 0px 5px;
	text-indent: 9px;
	width: 720px;
	height: 35px;
	border-radius: 5px;
}
#input_text:focus{
	background: #EFEFE3;
}

/* --------- BUTTONS 'SUBMIT NAME', 'DELETE MY MESSAGES', 'SEND' ------------------------------------------------------- */
#button_name{
	padding: 8px;
	color: #FFFFFF;
	background: #006699;
	cursor: pointer;
	border-radius: 5px;
}
#button_name:hover{
	background: #002EB8;
	 -webkit-transition: background-color 1000ms;
    -moz-transition: background-color 1000ms;
    -o-transition: background-color 1000ms;
    -ms-transition: background-color 1000ms;
    transition: background-color 1000ms;
}
#button_delete{
	padding: 8px;
	color: #FFD2E1;
	background: #006699;
	cursor: pointer;
	border-radius: 5px;
}
#button_delete:hover{
	background: #002EB8;
	 -webkit-transition: background-color 1000ms;
    -moz-transition: background-color 1000ms;
    -o-transition: background-color 1000ms;
    -ms-transition: background-color 1000ms;
    transition: background-color 1000ms;
}
#send_button{
	
	float: right;
	color: #FFFFFF;
	background: #006699;
	cursor: pointer;
	border-radius: 5px;
	width: 60px;
	height: 45px;
}
#send_button:hover{
	background: #002EB8;
	 -webkit-transition: background-color 1000ms;
    -moz-transition: background-color 1000ms;
    -o-transition: background-color 1000ms;
    -ms-transition: background-color 1000ms;
    transition: background-color 1000ms;
}

/*------------------ MESSAGES IN TEXTAREA -------------------------------------------------------------------------- */
.myMessage{ /* message sent by me */
	//border: solid black 2px;
	margin: 7px;
	width: auto;
	height: auto;
	
	position: relative;
	
}
.otherMessage{  /* message sent by other people */

	//border: solid black 2px;
	margin: 7px;
	width: auto;
	height: auto;
	
	position: relative;
	
}
.myMessage .name{
	display: inline;
	font-size: 11px;
	//border: solid green 2px;
	float: left;
	font-weight: bold;
	color: #340081;
	margin-top: 4px;
}
.myMessage .name p{
	font-size: 8px;
	margin: -8px 0px 0px 4px;
}
.otherMessage .name{
	display: inline;
	font-size: 11px;
	//border: solid green 2px;
	float: left;
	font-weight: bold;
	margin-top: 4px;
}
.myMessage .message::before{
	content: "";
	border: 11px solid;
	border-color: transparent #93B8B8 transparent transparent;
	margin: 0px 0px 0px -25px;
	position: absolute;
}
.otherMessage .message::before{
	content: "";
	border: 11px solid;
	border-color: transparent #B8E6E6 transparent transparent;
	margin: 0px 0px 0px -25px;
	position: absolute;
	
}
.myMessage .message{
	display: inline-block;
	padding: 4px;
	border-radius: 5px;
	background-color: #93B8B8;
	margin: 0px 0px 0px 10px;
	
	max-width: 320px;
	font-size: 14px;
}
.otherMessage .message{
	
	display: inline-block;
	padding: 4px;
	border-radius: 5px;
	background-color: #B8E6E6;
	margin: 0px 0px 0px 10px;
	
	max-width: 320px;
	font-size: 14px;
	
	
}
.myMessage .time{
	color: #6E6EB8;
	float: right;
	font-size: 9px;
	margin: 20px 0px 0px 0px;
}
.otherMessage .time{
	color: #6E6EB8;
	float: right;
	font-size: 9px;
	margin: 20px 0px 0px 0px;
}
#text_area .date{
	font-size: 10px;
	margin-left: 100px;
	color: #6E6EB8;
}

/* ----------------- CONNECTIONS AREA (CONNECTED USERS) ---------------------------------------------------------------- */
#connections_area .connected_users{
	//border: 1px solid black;
	margin: 3px 3px 4px 7px;

}
#connections_area .connected_users::before{
	content: "";
	width: 7px;
	height: 7px;
	border-radius: 5px;
	background: green;
	position: absolute;
	margin: 5px 0px 0px -11px;
}
#connections_area .ip_connected{
	font-size: 10px;
	float: right;
	margin-top: 4px;
}

/* ----------------- JUST WITH THE BACKDGROUND IMAGE EXAMPLE

div {
  width: 200px;
  height: 200px;
  display: block;
  position: relative;
}

div::after {
  content: "";
  background: url(image.jpg);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}



-----------------------------------------------*/















